@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
   font-family: "Outfit", sans-serif;
};

@theme{
  --color-primary: #5044E5;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}